<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改订阅服务</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../public/css/grade-setting.css">
</head>

<body>
    <header>VIN94.CN&nbsp;<a class="index-link" target="blank" href="http://vin94.cn/grades">去首页</a></header>
    <div id="container">
        <!-- 遮罩层 -->
        <div id="cover" v-if="showCover"><div>加载中...</div></div>
        <form id="login-form" v-if="toogleForm==0">

            <p><input type="text" class="input-text" name="username" id="username" v-model="username" placeholder="学号">
            </p>
            <p>
                <input type="password" v-model="password" class="input-text" name="password" id="password"
                    placeholder="教务密码"></p>
            <input type="button" value="登录" class="login-submit-btn" @click="handleLoginSubmitClick">
        </form>
        <!-- 设置页 -->
        <div class="setting-page" v-if="toogleForm==1">
            <p class="hello">{{username}}，你好 <button id="logout-btn" @click="handleLogoutBtnClick">退出登录</button></p>
            <P>你的邮箱：{{userInfo.email}}</P>
            <p>最新科目：<b>{{userInfo.latest_class_name}}</b></p>
            <p>成绩查询服务：<b :class="{'status-on':userInfo.status==1,'status-off':userInfo.status==0}">{{userInfo.status==1?'已开启':'已关闭'}}</b></p>
            <input type="button" value="开启服务" v-if="userInfo.status==0" @click="handleTurnOnBtnClick">
            <input type="button" value="停止服务" class="shutdown-btn" v-if="userInfo.status==1" @click="handleShutdownBtnClick">
            <input type="button" id="setEmail" value="修改邮箱" @click="handleSetEmailBtnClick">
        </div>
        <form id="login-form" v-if="toogleForm==2">
            <p>
                <input type="email" v-model="newEmail" class="input-text" placeholder="新邮箱"></p>
            <input type="button" value="提交" class="set-email-submit-btn" @click="handleSetEmailSubmitClick">
            <input type="button" value="取消" class="shutdown-btn" @click="handleSetEmailCancleClick">
            
        </form>
    </div>

    <script src="../public/js/grade-setting.js"></script>
</body>

</html>