<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vincent的官方网站</title>
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
  <div id="container">
    <header>Vincent的官方网站</header>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="
          https://vincent-demo-1.oss-cn-chengdu.aliyuncs.com/vin_forum_img/vin94.cn/megumi-1.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://vincent-demo-1.oss-cn-chengdu.aliyuncs.com/vin_forum_img/vin94.cn/62.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://vincent-demo-1.oss-cn-chengdu.aliyuncs.com/vin_forum_img/vin94.cn/64.png" alt="">
        </div>
      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>

      <!-- 如果需要导航按钮 -->
      <div class="swiper-btn swiper-button-prev"></div>
      <div class="swiper-btn swiper-button-next"></div>

      <!-- 如果需要滚动条 -->
      <div class="swiper-scrollbar"></div>
    </div>

    <div class="products">
      <div class="item">
        <a href="http://vin94.cn/grades" target="_blank" rel="noopener noreferrer">
          <p class="title">西南交大成绩通知系统</p>
          <img src="https://vincent-demo-1.oss-cn-chengdu.aliyuncs.com/vin_forum_img/vin94.cn/grades-noti.png" alt=""
            class="preview">
        </a>
      </div>
      <div class="item">
        <p class="title">联系我：vincent2021@foxmail.com</p>
        <img src="https://vincent-demo-1.oss-cn-chengdu.aliyuncs.com/vin_forum_img/vin94.cn/IMG_20191116_114312.png"
          alt="" class="preview">
      </div>
    </div>

    <!-- 底部备案栏 -->
    <footer id="records-footer">
      <div class="records">
        <a href="http://www.beian.miit.gov.cn/state/outPortal/loginPortal.action" target="_blank"
          rel="noopener noreferrer">蜀ICP备19036436号</a>
      </div>
    </footer>
  </div>

  <script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
  <script src="../public/js/index.js"></script>
</body>

</html>