body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.3);
  color: royalblue;
  z-index: 10;
}

.swiper-slide {
  overflow: hidden;
  width: 100vw;
}

.swiper-slide>img {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .swiper-slide>img {
    position: absolute;
    left: 50%;
    width: auto;
    height: 100vh;
    transform: translateX(-50%);
  }
  .swiper-container {
    height: 100vh;
    width: 100%;
  }
  .swiper-btn {
    display: none;
  }
  .products {
    height: 100px !important;
  }
}

.products {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 235px;
  min-height: 200px;
  max-width: 700px;
  margin: 5px auto;
}

.products .item {
  width: 49%;
  height: 100%;
  padding: 5px;
  box-shadow: 2px 3px 5px rgb(172, 170, 170);
  overflow: hidden;
}

.products .item:hover {
  transition: transform .8s;
  transform: translateY(-6px);
}

.products .item>a {
  display: block;
  width: 100%;
  height: 100%;
}

.products .title {
  width: 100%;
  font-size: 16px;
  color: gray;
  word-break: break-all;
}

.products .preview {
  width: 100%;
}

#records-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: rgba(235, 235, 235, 0.7);
  margin-top: 50px;
}

#records-footer .records>a {
  color: royalblue;
  font-size: 16px;
}